<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leaderboard.name %>
</p>

<p>
  <strong>Img:</strong>
  <%= @leaderboard.img %>
</p>

<p>
  <strong>String:</strong>
  <%= @leaderboard.string %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @leaderboard.wins %>
</p>

<%= link_to 'Edit', edit_leaderboard_path(@leaderboard) %> |
<%= link_to 'Back', leaderboards_path %>
